.wrapper{
  display:flex;
}

.taskList{
  display:flex;
  flex-wrap: wrap;
  margin:10px 0 50px 0;
  }

  .mainNav{
    background-color:#000;
    width:100%;
    text-align:center;
    color:#fff;
  }


  .toDoContainer{

  }
  .complete{

  }

  .taskItem{
    width:250px;
    height:250px;
    color:#000;
    position:relative;
    padding:25px;
    margin:5px;
    box-shadow: 2px 2px 4px #ddd;
    display:flex;
    flex-direction:column;
  }


  .removeButtonContainer{
    position:absolute;
    bottom:15px;
    left:15px;
  }

  .completeContainer{
    position:absolute;
    bottom:20px;
    right:15px;
  }


  .completedTask{
    background-color:lightgreen;
  }

  .toDoTask{
    background-color:yellow;
  }

  .note-Info{
    display:flex;
  }

  .taskHeader{
    margin:0 0 20px 0;
    font-size:18px;
  }

  button{
    padding:10px 25px;
    margin:10px;
  }
  .addButton{
    display:block;
    margin:30px 0;
  }
  
  .removeButton{
    padding:0px;
    background-color:inherit;
    border:none;
    font-size:18px;
    text-decoration:underline;
    cursor:pointer;
    opacity:0.5;
  }
  .removeButton:hover{
    text-decoration:none;
    opacity:1;
  }
  input{
    border:none;
  }
  input[type=text]{
    background-color:inherit;
    border-bottom:1px solid #000;
    min-width:300px;
    font-size:16px;
  }
  input[type=checkbox]{
    width:18px;
    height:18px;
  }

  
