.toDoList{

  }


  .note{
    /*width:25%;*/
    width:200px;
    height:200px;
    color:#000;
    position:relative;
    padding:10px;
    margin:5px;
    box-shadow: 2px 2px 4px #ddd;
  }

  .completed-Note{
    background-color:lightgreen;
  }

  .toDo-Note{
    background-color:yellow;
  }

  .note-Info{
    display:flex;
  }

  .note-h1{
    margin-left:10px;
  }

  button{
    padding:10px 25px;
    margin:10px;
  }
  .addButton{
    display:block;
    margin:30px 0;
  }
  .removeButton{
  }

  input{
    border:none;
  }
  input[type=text]{
    background-color:inherit;
    border-bottom:1px solid #000;
    min-width:300px;
    font-size:16px;
  }
  input[type=checkbox]{
    width:18px;
    height:18px;
  }

  
